*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav{
    padding: 15px;
    height: 15vh;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 27px;
    
  }
  
  nav ul li {
    margin-right: 12%;
    list-style: none;
    color: rgb(236, 236, 24);
  }
  .order-area-btn{
    padding: 10px;
    background-color: rgb(228, 50, 80);
    color: white;
    font-weight: bold;
    
  }
  
  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11%;
    margin-top: 7%;
    color: rgb(236, 236, 24);
  font-size: 33px;
  font-weight: 900;
  }
  
  .leftmain-btn{
    padding: 13px;
    background-color:rgb(228, 50, 80) ;
  }
    
  
      
    
    
        
     
      
      
         
       
       
        
      